@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Sitio Web</h1>
    <p>Aprende acerca de Integracion Continua con Azure. Desarrollado con NetCore</a>.</p>
</div>
